body {
     text-align: center;

}
.searchEngine {
 background-color : #C4A484;

}

button{
     background-color : #f5f5dc;
     color : black;
     padding : 8px 16px;
     margin : 4px 2px;
     cursor : pointer;
}

input[type=text]{
     border = 2px solid black;
     border-radius: 4px;
     width: 30%;
     padding: 8px 16px;
}
.resultTable {

    display: inline-block;
    margin: auto;
}
