body {

    background-image : url(https://images8.alphacoders.com/116/1164611.jpg);
    background-size : cover;


     text-align: center;


}
.searchEngine {



}

button{
     background-color : #f5f5dc;
     color : black;
     padding : 8px 16px;
     margin : 4px 2px;
     cursor : pointer;
}

input[type=text]{
     border = 2px solid black;
     border-radius: 4px;
     width: 30%;
     padding: 8px 16px;
}
.resultTable {

   background-color : #F8F0E3;
    opacity: .9;
    display: inline-block;
    margin: auto;
}


